body{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}
body.escritorio{
    background: #f0f0f1
}
.header-uni{
    background-color: #2b5a99!important;
}
.admin {
    background: #05263c;
    padding: 0px;
}
.admin .container-fluid{
    height: 32px;
}
.admin .nav-item{
    margin-right: 0px;
    font-size: 13px;
}
.admin .nav-link{
    color: #fcfdfd!important;
}
.admin .nav-link{
    padding: 0px;
}
.admin .navbar-brand{
    margin-bottom: 0px;
    padding: 3px 0px 0px 0px;
}
.admin .navbar-brand img{
    width: 21px;
    border-radius: 100%;
    border: 1px solid #fcfdfd;
    vertical-align: baseline;
}
.admin .nav-link span{
    vertical-align: middle;
}
.admin .navbar-collapse{
    height: 32px;
    padding-top: 6px;
    width: 100%;
}
.admin .navbar-collapse .navbar-nav{
    height: 30px;
    margin-right: 10px;
    width: 100%;
}
.admin .user-admin{
    margin-left: auto;
}
.admin .user-admin .dropdown-menu{
    border-radius: 0;
    border: 0px;
    width: 265px;
    position: absolute;
    left: 80.5%;
    margin-top: 0px;
    background: #083b5d;
    padding: 20px;
}
.admin .user-admin .dropdown-menu li.user{
    width: 50%;
    display: inline-block;
    position: absolute;
}
.admin .user-admin .dropdown-menu li:last-child{
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 86px;
}

.admin .user-admin .dropdown-menu li .dropdown-item{
    color: #fcfdfd;
    font-size: 13px;
}
.admin .user-admin .dropdown-menu li .dropdown-item:hover{
    background: none;
    font-weight: bolder;
}
.sidebar-izquierdo{
    background: #05263c;
    width: 160px;
    height: 619px;
    padding-top: 12px;
}
.escritorio .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
}
.sidebar-izquierdo .dropdown a:first-child{
    width: 100%;
    background-color: #2b5a99!important;
    border: none;
    border-radius: 0px;
}
#accordionSidebar .accordion-item{
    border: none;
}
#accordionSidebar .accordion-item .accordion-header button.accordion-button:not(.collapsed){
    width: 100%;
    background-color: #2b5a99!important;
    border: 0px!important;
    border-radius: 0px!important;
    padding: 8px;
    color: #fcfdfd;
}
#accordionSidebar .accordion-item .accordion-header button.accordion-button:not(.collapsed)::after{
    right: 0;
    border: solid 8px transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f0f0f1;
    top: 50%;
    margin-top: -8px;
}
#accordionSidebar .accordion-item .accordion-collapse.collapse.show {
    background: rgb(8, 59, 93);
    padding: 8px 0px 8px 9px;
    color: #fcfdfd;
}
#accordionSidebar .accordion-item .accordion-collapse.show .accordion-body{
    padding: 8px 0px 8px 9px;
    color: #fcfdfd;
    background: rgb(8, 59, 93);
}
#accordionSidebar .accordion-item button.accordion-button.collapsed{
    background: #05263c;
    color: #fcfdfd;
    padding: 8px;
}
.escritorio .col-lg-2{
    width: 170px;
}
.escritorio .col-lg-5:first-child{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}
.escritorio .col-lg-5:last-child{
    padding-top: 32px;
    margin-top: 10px;
}
.contenido h1{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 1.3;
}
.contenido .col-lg-5 .accordion-item {
    background: none;
    margin-bottom: 20px;
    border: 1px solid #c3c4c7;
}
.contenido .col-lg-5 .accordion-item .accordion-button{
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}
.contenido .row{
    margin-right: 0px!important;
}
.contenido .accordion-button{
    color: #000;
}
.contenido .accordion-button:not(.collapsed){
    background: #fcfdfd;
}
.contenido .accordion-collapse{
    background: #fcfdfd;
}



.header-uni .nav-link, .header-uni .nav-link .btn-login-logout{
    color: #fcfdfd!important;
    text-decoration: none;
}
.header-uni .nav-link .btn-login-logout{
    border-bottom: 0px!important;
}
.header-uni .nav-link .btn-login-logout img{
    margin-left: 10px;
}
.header-uni .nav-item{
    padding: 0px 25px;
}
.header-uni .nav-item a.nav-link{
    padding: 0px 2px!important;
}
.header-uni .nav-item.active a, .header-uni .nav-item:hover a:not(.btn-login-logout), .header-uni .nav-item a:not(.btn-login-logout):hover{
    border-bottom: 1px solid #fff;
}
.oculto{
    display: none;
}
.visible{
    display: block;
}
.logo img{
    width: 180px;
    margin-left: 10%;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
    color: #fff;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    padding: 0px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700!important;
    letter-spacing: 1.4px!important;
}
.banner{
    width: 100%!important;
    max-width: 100%!important;
    margin-top: 6.5%!important;
    height: 30vw;
    background: linear-gradient(to right, #354d95, #14974b), url('../img/Uni-4-scaled.jpg') center/cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    padding-left: 0px;
}
.banner article{
    width: 80%!important;
    max-width: 1440px!important;
    margin-left: auto!important;
    margin-right: auto;
    padding-top: 9%;
}
.banner article h2{
    color: #fff;
    font-weight: 700;
}
.banner article p{
    color: #fff;
}
.banner article p a{
    background: #6894a8;
    padding: 10px 50px 15px 50px;
    color: #fff;
    text-decoration: none;
}
.banner article p.sobre-uel{
    margin-bottom: 0px!important;
    margin-top: 40px!important;
}
.carrera{
    margin-bottom: 50px;
    margin-top: 50px!important;
    border: 2px solid #2b5a99;
    max-width: 1440px;
    width: 80%;
    padding: 0px 12px!important;
}
.carrera .col-left-info{
    padding-top: 7.5%;
    padding-left: 3%;
}
.carrera .col-md-6:not(.col-left-info),.carrera .col-md-6:not(.col-right-info){
    padding-left: 0px;
    padding-right: 0px;
}
.carrera .col-md-6.col-left-info{
    padding-left: 3%!important;
    padding-right: 3%!important;
}
.carrera .col-right-info{
    padding-top: 7.5%;
    padding-right: 3%!important;
    padding-left: 3%!important;
    text-align: right;
}
.carrera .col-left-info .img-mobile, .carrera .col-right-info .img-mobile{
    display: none;
}
.img-escritorio{
    display: block;
}
.carrera .btn-primary, .login-html #container-login #loginForm .btn-primary{
    background: #80a932;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    color: #fcfdfd;
}
.carrera .btn-primary:hover{
    background-color: #2b5a99;
}
#sobre-la-Uel .text-tablet{
    display: none;
}
#sobre-la-Uel .text-escritorio{
    display: block;
}
/*testimonios*/
#testimonios {
    padding-top: 1.208vw;
    margin-bottom: 1.208vw;
}

#testimonios .tarjeta-testimonio{
    background: #fcfdfd;
    box-shadow: 2px 0px 4px rgb(18 104 58 / 50%);
    margin-left: 0px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    border-radius: 6px;
}
#testimonios .container{
    max-width: 1440px;
    width: 80%;
}
#testimonios .col-lg-4.tarjeta-testimonio{
    width: 32%!important;
    margin-top: 100px;
}
#testimonios .tarjeta-testimonio:hover{
    background: #6894a8;
}
#testimonios .tarjeta-testimonio:hover .resenia, #testimonios .tarjeta-testimonio:hover .autor-carrera{
    color: #fcfdfd;
}
#testimonios .tarjeta-testimonio:hover .img-testimonio{
    border: 2px solid #fcfdfd;
}
#testimonios .tarjeta-testimonio:not(:first-child){
    margin-left: 2%;
}
#testimonios .img-testimonio{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #078e45;
    margin-top: -75px;
    margin-bottom: 20px;
}
#testimonios .resenia{
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
}
#testimonios .autor-carrera{
    margin-bottom: 0px;
    padding-bottom: 30px;
}
#testimonios .titulo{
    text-align: center;
    color: #078e45;
}

.sobre-nosotros{
    width: 80%;
    max-width: 1440px;
    margin-bottom: 40px;
    padding-top: 7.208vw!important;
}
.sobre-nosotros .lead{
    font-size: 16px;
}

/*Carreras*/
#Carreras-disponibles {
    padding-top: 1.208vw;
    margin-bottom: 4.208vw;
}

#Carreras-disponibles .tarjeta-carrera{
    background: #fcfdfd;
    box-shadow: 2px 0px 4px rgb(18 104 58 / 50%);
    margin-left: 0px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    border-radius: 6px;
}
#Carreras-disponibles .container{
    max-width: 1440px;
    width: 80%;
    margin-top: 45px;
}
#Carreras-disponibles .col-lg-4.tarjeta-carrera{
    width: 32%!important;
    margin-top: 20px;
}

#Carreras-disponibles .tarjeta-carrera:hover .resenia, #Carreras-disponibles .tarjeta-carrera:hover .autor-carrera{
    color: #fcfdfd;
}
#Carreras-disponibles .tarjeta-carrera:not(:first-child){
    margin-left: 2%;
}
#Carreras-disponibles .resenia{
    padding: 0px 0px 0px 10px;
    margin-bottom: 0px;
    text-align: left;
   
    margin-top: 32px;
}
#Carreras-disponibles .resenia span{
    font-weight: 900;
}
.energias.resenia{
    color: #8bb424!important;
}
.gestion.resenia{
    color: #203a76!important;
    margin-top: 37px;
}
.tudai{
    color: #30bef0!important;
}
#Carreras-disponibles .titulo{
    text-align: center;
    color: #2b5a99!important;
}
.web{
    color: #024cd1!important;
}
.ingles{
    color: #52268f!important;
}
.digital{
    color: #fc5353!important;
}
.buscador::after{
    content: '\2315';
    color: #000;
}
.contenedor-buscador{
    background-color: #FFFFFF;
    max-height: 13%;
    z-index: 1029!important;
    position: absolute!important;
    bottom: 0px;
    top: 56%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    width: 80%;
    max-width: 1440px;
    padding: 30px 40px;
    border-radius: 6px;
}
.contenedor-buscador .buscador{
    width: 84%!important;
}
.contenedor-buscador .search{
    width: 14%;
    display: inline-block;
    vertical-align: super;
}
.contenedor-buscador .search a{
    background: #6894a8;
    padding: 10px 50px 15px 50px;
    color: #fff;
    text-decoration: none;
}
/*Login*/
.login-html {
    background: #d6e5f9;
}
#container-login{
    width: 100%;
    max-width: 100%;
}
#container-login .form-login{
    width: 320px;
    padding: 5% 0 0;
    margin: auto;
    text-align: center;
}
#container-login .form-login .login{
    background: #fcfdfd;
    margin-bottom: 20px;
}
#container-login .form-login img{
    width: 90px;
}
#container-login .form-login .login #loginForm{
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 34px;
    font-weight: 400;
    overflow: hidden;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 3px rgba(0,0,0,.04);
}
#loginForm label, #loginForm input{
    width: 100%;
    text-align: left;
}
#loginForm label{
    font-size: 14px;
    margin-bottom: 3px;
}
#loginForm input[type=text], #loginForm input[type=password], .buscador{
    font-size: 24px;
    line-height: 1.33333333;
    width: 100%;
    border-width: 0.0625rem;
    padding: 0.1875rem 0.3125rem;
    margin: 0 6px 16px 0;
    min-height: 40px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
}
#loginForm input[type=password]{
    margin-bottom: 10px!important
}
#loginForm #error{
    font-size: 13px;
    text-align: left;
    margin-left: 5px;
    color: red;
    line-height: 1.2;
}
.volver{
    color: #000;
    text-decoration: none;
}
.volver:before{
    content: '\2190';
    margin-right: 5px;
}
/*Footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer .container{
    width: 90%;
    max-width: 1440px;
}
footer .redes-sociales span{
    vertical-align: middle;
}
footer .redes-sociales img{
    width: 25px;
    margin-right: 5px;
}
footer .mobile-redes{
    display: none;
}
footer .redes-escritorio{
    display: block;
}
/*Contacto*/
.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-row input,
.form-row textarea {
    width: 48%; /* El 48% permite el espacio entre los elementos */
    padding: 10px;
    box-sizing: border-box;
}

.form-row textarea {
    width: 100%;
    resize: vertical;
}

.form-row button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #45a049;
}
.contacto{
    margin-top: 50px!important;
    border: 2px solid #2b5a99;
    padding: 40px 40px;
}
.mapa iframe{
    height: 400px!important;
}
.info-contacto{
    padding-top: 90px;
}
.info-contacto h2{
    color: #2b5a99!important;
    font-size: 35px;
}
.info{
    padding:0px!important;
    margin-top: 40px!important;
    margin-bottom: 40px;
}
.contactenos{
    text-align: center;
    margin-top: 40px;
    color: #2b5a99!important;
    font-size: 50px!important;
}
@media (max-width: 767px){
    #testimonios .col-lg-4.tarjeta-testimonio {
        width: 100%!important;
        margin-top: 100px;
    }
    .carrera .col-md-6.col-left-info {
        padding-left: 0%!important;
        padding-right: 0%!important;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera {
        width: 100%!important;
        margin-top: 20px;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera .col-lg-4{
        width: 30%;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera .col-lg-4 img{
        width: 100px;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera .col-lg-8{
        width: 65%;
    }
    #Carreras-disponibles .resenia {
        padding: 0px 0px 0px 20px;
        margin-bottom: 0px;
        text-align: left;
        margin-top: 20px;
    }
    #Carreras-disponibles .resenia.tudai{
        margin-top: 5px;
    }
    #Carreras-disponibles .tarjeta-carrera:not(:first-child) {
        margin-left: 0%;
    }
    #Carreras-disponibles {
        padding-top: 40px;
        margin-bottom: 40px;
    }
    .banner {
        margin-top: 25.5%!important;
        height: 70vw;
    }
    .carrera .col-left-info .img-mobile, .carrera .col-right-info .img-mobile{
        display: block;
    }
    .img-escritorio{
        display: none;
    }
    .logo img{
        width: 180px;
    }
    .banner article h2, .banner article p{
        text-align: center;
    }
    .carrera .col-left-info {
        padding-top: 0;
        padding-left: 0;
        text-align: center;
    }
    .carrera .col-right-info {
        padding-top: 0;
        padding-right: 0%!important;
        text-align: center;
        padding-left: 0px!important;
    }
    .carrera .col-right-info h2, .carrera .col-left-info h2{
        padding: 20px 10px 0px 10px;
    }
    .carrera .col-right-info p, .carrera .col-left-info p{
        padding: 0px 10px;
    }
    .carrera .col-right-info button, .carrera .col-left-info button{
        margin-bottom: 20px
    }
    #testimonios .resenia {
        padding: 0px 10px 20px 10px;
        margin-bottom: 0px;
    }
    footer .mobile-redes{
        display: block;
        border-top: 1px solid #fff;
        padding-top: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px
    }
    footer .mobile-redes .redes-sociales.right{
        width: 21%;
        display: inline-block;
        margin-bottom: 0px;
    }
    footer .redes-escritorio{
        display: none;
    }
    #sobre-la-Uel .text-tablet{
        display: none;
    }
    #sobre-la-Uel .text-escritorio{
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 981px){
    .carrera .col-left-info {
        padding-top: 3.5%;
    }
    .carrera .col-md-6:not(.col-left-info) .img-escritorio, .carrera .col-md-6:not(.col-right-info) .img-escritorio{
        height: 32vw;
    }
    #testimonios .col-lg-4.tarjeta-testimonio {
        width: 48%!important;
        margin-top: 100px;
        margin-left: 0;
        margin-right: 0;
    }
    #testimonios .col-lg-4.tarjeta-testimonio:first-child {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    #testimonios .col-lg-4.tarjeta-testimonio:nth-child(2){
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    #testimonios .col-lg-4.tarjeta-testimonio:nth-child(3){
        margin-left: auto;
        margin-right: auto;
    }
    #testimonios .col-lg-4.tarjeta-testimonio:first-child{
        margin-right: 2%;
    }
    .carrera .col-md-6.col-left-info {
        padding-left: 2%!important;
        padding-right: 2%!important;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera {
        width: 100%!important;
        margin-top: 20px;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera .col-lg-4{
        width: 30%;
        text-align: right;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera .col-lg-4 img{
        width: 140px;
    }
    #Carreras-disponibles .col-lg-4.tarjeta-carrera .col-lg-8{
        width: 65%;
    }
    #Carreras-disponibles .resenia {
        padding: 0px 0px 0px 20px;
        margin-bottom: 0px;
        text-align: left;
        margin-top: 50px;
    }
    #Carreras-disponibles .tarjeta-carrera:not(:first-child) {
        margin-left: 0%;
    }
    #Carreras-disponibles {
        padding-top: 40px;
        margin-bottom: 40px;
    }
    .sobre-nosotros img{
        height: 25vw;
    }
    #sobre-la-Uel .text-tablet{
        display: block;
    }
    #sobre-la-Uel .text-escritorio{
        display: none;
    }
    .banner article {
        width: 80%!important;
        max-width: 1440px!important;
        margin-left: auto!important;
        margin-right: auto;
        padding-top: 16%;
    }
    .banner{
        height: 45vw;
    }
    footer .redes-escritorio{
        display: none;
    }
    footer .mobile-redes{
        display: block;
        border-top: 1px solid #fff;
        padding-top: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    footer .mobile-redes .redes-sociales.right{
        width: 21%;
        display: inline-block;
        margin-bottom: 0px;
    }
}
@media (min-width: 981px){
    .font-45, .font-45 h2{
        font-size: calc(1.4375rem + ((1vw - 9.81px) * 2.3429))!important;
        min-height: 0vw;
    }
    .font-35, .font-35 p{
        font-size: calc(1.125rem + ((1vw - 9.81px) * 1.8104))!important;
        min-height: 0vw;
    }
    .fuente-22, .fuente-22 h1, .fuente-22 h2, .fuente-22 h3, .fuente-22 h4, .fuente-22 h5, .fuente-22 h6, .fuente-22 p, .fuente-22 span, .fuente-22 a {
        font-size: calc(0.6875rem + ((1vw - 9.81px) * 1.1715))!important;
        min-height: 0vw;
    }
}
@media (min-width: 1920px){
    .font-45, .font-45 h2{
        font-size: 45px!important;
    }
    .font-35, .font-35 p{
        font-size: 35px!important;
    }
    .fuente-22, .fuente-22 h1, .fuente-22 h2, .fuente-22 h3, .fuente-22 h4, .fuente-22 h5, .fuente-22 h6, .fuente-22 p, .fuente-22 span, .fuente-22 a {
        font-size: 22px!important;
        min-height: 0vw;
    }
}